@keyframes animate {
  from {
    background-position: 0 3px;
  }
  to {
    background-position: 0 -447px;
  }
}

@keyframes animate2 {
  from {
    background-position: -220px 3px;
  }
  to {
    background-position: -220px -447px;
  }
}
@keyframes animate3 {
  from {
    background-position: -445px 3px;
  }
  to {
    background-position: -445px -447px;
  }
}

.layer1 {
  display: flex;
  flex-direction: column;

  .padTop {
    height: 7%;
    position: relative;

    .navbar-top {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 30;
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 12px;
      font-weight: 700;
      padding-left: 14px;
      padding-right: 19px;
      align-items: center;

      .container-sprites {
        padding-right: 0px;
        display: flex;
        transform: translateY(2px);

        .iphone-sprite {
          position: relative;
          width: calc(700px / 3);
          height: calc(447px / 3);
          background-image: url('/assets/iphone-sprite.png');
          zoom: 0.12;
          background-repeat: no-repeat;

          --top: 2px;

          &.sprite-1 {
            transform: translateX(70px);
            animation: animate 120s steps(3) infinite alternate both;
            /* background-color: red; */
          }

          &.sprite-2 {
            transform: translateX(10px) translateY(-1px);
            animation: animate2 120s steps(3) infinite alternate both;
            /* background-color: orange; */
          }

          &.sprite-3 {
            transform: translateX(-40px);
            animation: animate3 120s steps(3) infinite alternate both;
            /* background-color: red; */
          }
        }
      }

      button {
        color: rgb(35, 34, 34);
        font-weight: 500;
        font-family: 'TikTokFont', 'TikTokDisplayFont';
        font-size: 12px;
        padding: 6px 12px;
        border-radius: 20px;

        &.mode-btn-active {
          background-color: #0004;
          color: #e9e9e9;
        }

        &.hour-and-wifi {
          font-size: 13px;
          font-weight: 700;
        }
      }
    }
  }
}
