.layer1 {
  display: flex;
  flex-direction: column;

  .padTop {
    height: 7%;
    background-color: #0f08;
  }

  .container-grid {
    height: 93%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    padding: 10px;
    gap: 15px;
    position: relative;

    .social-top {
      width: 36px;
      height: 36px;
      border-radius: 7px;
      border: 1px solid #fff8;
      user-select: none;
      position: relative;
      cursor: grab;
      pointer-events: none;
      opacity: 0;

      &.drag {
        position: absolute;

        &::before {
          opacity: 0;
        }
      }

      &::before {
        content: 'TikTok';
        position: absolute;
        bottom: -50%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 10px;
        text-align: center;
        color: #fff;
        user-select: none;
        transition: opacity 0.2s ease;
      }

      &.visible {
        pointer-events: auto;
        opacity: 1;
      }

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        object-fit: center;
        border-radius: inherit;
        pointer-events: none;
      }
    }

    /*   .social-container {
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 100%;
      gap: 5px;
      pointer-events: none;
      opacity: 0;

      &.visible {
        pointer-events: auto;
        opacity: 1;
      }

      .social-bottom {
        font-size: 10px;
        text-align: center;
        color: #fff;
        user-select: none;
        transition: opacity 0.2s ease;
      }

      &:active {
        .social-bottom {
          opacity: 0;
        }
      }
    } */
  }
}
