.layer0 {
  z-index: -1;
  background-image: url('/assets/spritesheet.avif');
  animation: mover calc(var(--time-change-bg) * 16s) steps(8) infinite;
  
  border-radius: var(--border-r);
  transform: scale(0.97);
  border-radius: 40px;
  position: absolute;
  height: 100%;
  inset: 0;
  width: calc(2240px / 8);
}

@keyframes mover {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -2240px 0;
  }
}
