.layer1 {
  display: flex;
  flex-direction: column;

  .padTop {
    height: 7%;
  }

  .container-grid {
    height: 93%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    padding-bottom: 12px;

    .social-container {
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 100%;
      gap: 5px;
      pointer-events: none;
      opacity: 0;

      &.visible {
        pointer-events: auto;
        opacity: 1;
      }

      .social-top {
        aspect-ratio: 1;
        border-radius: 7px;
        border: 1px solid #fff8;
        background-image: url('/assets/tiktok-logo.avif');
        background-size: cover;
        background-position: center;
        user-select: none;
      }

      .social-bottom {
        font-size: 11px;
        text-align: center;
        color: #fff;
        user-select: none;
        transition: opacity .2s ease;
      }

      &:active {
        .social-bottom {
          opacity: 0;
        }
      }
    }
  }
}