.layer0 {
  display: block;
  border-radius: 40px;
  position: absolute;
  inset: 0;
  background-color: red;
  z-index: -1;
  transform: scale(0.97);
  background-image: url('/assets/spritesheet.avif');
  width: calc(2240px / 8);
  height: 100%;
  animation: mover 16s steps(8) infinite;
}

@keyframes mover {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -2240px 0;
  }
}