.upload {
  height: 90%;
  background-color: transparent;
  position: relative;
  background-color: #222;

  .container-of-upload-and-create {
    height: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    .create-section,
    .upload-section {
      min-width: 100%;
      height: calc(100% - 30px);
      scroll-snap-align: center;
      position: relative;
    }

    .create-section {
      background-color: #222;

      .am-webcam {
        width: 100%;
        position: absolute;
        inset: 0;
        height: 100%;
        transform: scaleX(-1);
      }

      .nav-of-type-of-capture {
        font-size: 16px;
        position: absolute;
        padding: 20px;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        --photo-a: #644dff;
        --photo-b: #3c2ca0;
        --photo-c: color-mix(in srgb, var(--photo-b) 22%, transparent);
        --photo-d: color-mix(in srgb, var(--photo-b) 75%, transparent);
        --video-a: #d13030; /* rojo base */
        --video-b: #5c1616; /* rojo oscuro */
        --video-c: color-mix(in srgb, var(--video-b) 25%, transparent);
        --video-d: color-mix(in srgb, var(--video-b) 70%, transparent);

        .container-type-capture {
          position: relative;
          width: 4.5em;
          height: 4em;
          zoom: 0.4;
          overflow: hidden;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          scale: 2;
          transition: all 0.1s ease;

          &.type-camera {
            background-color: var(--photo-a);
            box-shadow: 0 8px var(--photo-b);
            /* filter: drop-shadow(0 6px 2px var(--photo-c)); */
            border: 1px solid var(--photo-b);

            button {
              background-color: var(--photo-a);
            }
          }

          &.type-video {
            background-color: var(--video-a);
            box-shadow: 0 8px var(--video-b);
            /* filter: drop-shadow(0 6px 2px var(--video-c)); */
            border: 1px solid var(--video-b);

            button {
              background-color: var(--video-a);
            }
          }
        }

        .button {
          font-weight: 800;
          cursor: pointer;
          position: absolute;
          text-transform: uppercase;
          height: 110%;
          width: 110%;
          color: white;
        }

        .container-type-capture:has(.button:active),
        .container-type-capture.active-button {
          box-shadow: none;
          /* margin-top: 2em; */
          transform: translateY(0.75em);
          filter: drop-shadow(0 3px 1px #4836bbbe);
        }
      }

      .current-video-duration {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 88px;
        color: #e9e9e9;
        font-size: 14px;
      }

      .circle-of-capture {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
        aspect-ratio: 1;
        width: 70px;
        height: 70px;
        border: 3px solid #fff;
        border-radius: 50%;
        flex-wrap: wrap;
        place-content: center;
        padding: 3px;
        transition: background-color 0.4s ease, border-color 0.4s ease;

        svg.am-border {
          position: absolute;
          top: -2px;
          left: -2px;
          transform: scale(1.06) rotate(-90deg);

          .circle-dashed {
            animation: progress 10s linear 1 both;
          }
        }

        &.circle-of-capture-video-start {
          background-color: #fff2;
          border-color: transparent;
        }

        .circle-inner {
          background-color: #fff;
          width: 100%;
          height: 100%;
          display: flex;
          border-radius: inherit;
          pointer-events: none;
          transform: scale(1);
          transition: transform 0.4s ease, border-radius 0.4s ease;

          &.circle-inner-red {
            background-color: #ff2b54;
          }

          &.circle-inner-blue-testing {
            background-color: #ff2b54;
            transform: scale(0.5);
            border-radius: 0;
          }
        }
      }
    }

    .upload-section {
      background-color: #222;
      padding: 14px;

      .keycap {
        position: relative;
        display: inline-flex;
        zoom: 0.7;
        width: 130px;
        width: 130px;
        width: 100%;
        height: 80px;
        border-radius: 10px;
        background: linear-gradient(180deg, #282828, #202020);
        box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
          inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
          10px 20px 25px rgba(0, 0, 0, 0.4);
        overflow: hidden;
        transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 16px;
      }

      .keycap .letter {
        position: absolute;
        left: 12px;
        top: 12px;
        color: #e9e9e9;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 8px;
        transition: transform 0.1s ease-in-out;
      }

      .keycap .enter-icon {
        width: 20px;
        height: 20px;
        stroke: #e9e9e9;
      }

      .keycap::before {
        content: '';
        position: absolute;
        top: 3px;
        left: 4px;
        bottom: 14px;
        right: 12px;
        background: linear-gradient(90deg, #232323, #4a4a4a);
        border-radius: 10px;
        box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25),
          10px 5px 10px rgba(0, 0, 0, 0.15);
        border-left: 1px solid #0004;
        border-bottom: 1px solid #0004;
        border-top: 1px solid #0009;
        transition: all 0.1s ease-in-out;
      }

      .keycap:active {
        transform: translateX(-50%) translateY(2px);
        box-shadow: inset -4px 0 4px rgba(0, 0, 0, 0.1),
          inset 0 -4px 4px rgba(0, 0, 0, 0.15), 0 0 0 2px rgba(0, 0, 0, 0.5),
          5px 10px 15px rgba(0, 0, 0, 0.3);
      }

      .keycap:active::before {
        top: 5px;
        left: 5px;
        bottom: 11px;
        right: 11px;
        box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.15),
          5px 3px 5px rgba(0, 0, 0, 0.1);
      }

      .keycap:active .letter {
        transform: translateY(1px);
      }

      .container-of-files {
        min-width: 200px;
        max-width: 370px;
        width: 100%;
        height: 230px;
        overflow: hidden;
        overflow-y: auto;
        border-radius: 17px;
        border: 3px dashed #09f;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        place-content: start;
        padding: 16px;
        gap: 16px;
        text-align: center;
        transition: border-color 0.5s ease-in-out;

        .am-video {
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .thisWouldBeOpaco {
          margin-inline: auto;
          color: #09f;
          pointer-events: none;
          transition: color 0.5s ease-in-out;
          position: absolute;
          left: 50%;
          transform: translate(-50%, -50%);
          margin-bottom: 2rem;

          &.opaco {
            opacity: 0.8;
          }
        }

        .text-description {
          text-align: center;
          width: 80%;
          font-size: 14px;
          color: #09f;
          user-select: none;
        }

        svg {
          top: 45%;
          color: #09f;
          width: 28px;
        }

        h2 {
          text-wrap: balance;
          top: 55%;
        }

        .parent-img {
          position: relative;
          z-index: 5;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }

          .button-remove-element {
            --size: 20px;
            width: var(--size);
            height: var(--size);
            position: absolute;
            right: 5px;
            top: 5px;
            border: none;
            outline: none;
            display: flex;
            flex-wrap: wrap;
            place-content: center;
            opacity: 1;
            transition: opacity 0.1s ease-in-out;

            &:active {
              opacity: 0.5;
            }

            img {
              width: 75%;
              height: 75%;
              pointer-events: none;
            }
          }
        }
      }

      .container-description {
        width: 100%;
        height: 114px;
        margin-top: 10px;

        textarea {
          width: 100%;
          height: 100%;
          background-color: transparent;
          border: 2px solid lime;
          border-radius: 14px;
          resize: none;
          field-sizing: content;
          padding: 10px;
          outline: none !important;
          color: #e9e9e9;
        }
      }
    }
  }

  .footer-upload {
    position: absolute;
    bottom: 2px;
    width: 100%;

    display: flex;
    z-index: 50;
    background-color: transparent;

    button {
      width: 50%;
      padding: 6px;
      color: #e9e9e9;
    }
  }
}

@keyframes progress {
  0% {
    stroke-dashoffset: 339.292; /* círculo completo "oculto" */
  }
  100% {
    stroke-dashoffset: 0; /* franja crece hasta completar el círculo */
  }
}
