.slider-posts {
  height: 91%;
  background-color: black;
  position: relative;
  width: 99.4%;
  transform: translateX(0.3%);

  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scroll-snap-type: y mandatory;

    &::-webkit-scrollbar {
      width: 0.01px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      opacity: 0.5;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    .post-video {
      width: 100%;
      height: 100%;
      position: relative;
      scroll-snap-align: center;
      scroll-snap-stop: always;
      overflow: visible;

      video {
        position: relative;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .post-image {
      width: 100%;
      height: 100%;
      position: relative;
      scroll-snap-align: center;
      scroll-snap-type: x mandatory;
      display: flex;
      overflow-x: auto;

      &::-webkit-scrollbar {
        width: 0.05px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: black;
        opacity: 0.5;
      }

      &::-webkit-scrollbar-track {
        background: black;
      }

      .container-img-post {
        min-width: 100%;
        height: 100%;
        position: relative;
        overflow-x: auto;
        scroll-snap-align: center;

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          object-fit: cover;
          object-position: left;
          animation: imageAnimation 10s linear infinite;
        }
      }
    }

    .aside-right-buttons {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      width: 48px;
      --gap: 5px;
      height: calc(48px * 6 + (var(--gap) * 6));
      gap: var(--gap);

      .button-container {
        width: 48px;
        height: 48px;
        position: relative;
        display: flex;
        flex-direction: column;
        place-content: center;
        place-items: center;
        gap: 5px;
        /* background-color: blue; */

        svg {
          width: 80%;
          height: 80%;
          color: #fff;
        }

        .count {
          font-size: 10px;
          color: #fff;
          text-align: center;
        }

        &.btn-container-user-profile {
          background-color: transparent;

          .user-profile {
            position: absolute;
            width: 68%;
            height: 68%;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          .badge {
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            top: 78%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            filter: hue-rotate(90deg);
          }
        }

        &.btn-container-vinyl {
          position: relative;

          .user-profile-vinyl,
          .vinyl {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          .vinyl {
            width: 32px;
            height: 32px;
            object-fit: cover;
            animation: rotar 5s linear infinite;
          }

          .user-profile-vinyl {
            width: 13px;
            height: 13px;
            border-radius: 50%;
            opacity: 0.8;
            animation: rotar 3s linear infinite;
            animation-delay: 0.8s;
          }
        }
      }
    }
  }
}

@keyframes rotar {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes imageAnimation {
  0% {
    object-position: left;
  }
  50% {
    object-position: right;
  }
  100% {
    object-position: left;
  }
}
