.slider-posts {
  height: 90%;
  width: 99.4%;
  background-color: black;
  position: relative;
  transform: translateX(0.3%);
  overflow: hidden;

  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    /* &::-webkit-scrollbar {
      width: 0.01px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      opacity: 0.5;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    } */

    .post-video {
      width: 100%;
      height: 100%;
      position: relative;
      scroll-snap-align: center;
      scroll-snap-stop: always;
      overflow: visible;
      margin-bottom: 3px;

      .play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 38px;
        height: 85px;
        color: #fff;
        opacity: 0.6;
        z-index: 40;
      }

      video {
        position: relative;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &::after {
        content: '';
        position: absolute;
        background-color: black;
        mask-image: linear-gradient(to bottom, transparent 20%, white 96%);
        z-index: 10;
        width: 100%;
        height: 100%;
        inset: 0;
        pointer-events: none;
      }
    }

    .post-image {
      width: 100%;
      height: 100%;
      position: relative;
      scroll-snap-align: center;
      scroll-snap-type: x mandatory;
      display: flex;
      overflow-x: auto;
      margin-bottom: 4px;

      &::-webkit-scrollbar {
        width: 1px;
        display: none;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        opacity: 0.5;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      .num-of-post {
        position: absolute;
        top: 12px;
        right: 12px;
        background-color: #fff3;
        padding: 6px 12px;
        border-radius: 15px;
        color: #fff;
        font-size: 10px;
        display: flex;
        flex-wrap: wrap;
        place-content: center;
        pointer-events: none;
      }

      .container-img-post {
        min-width: 100%;
        min-height: 100%;
        position: relative;
        overflow-x: auto;
        scroll-snap-align: center;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          object-fit: cover;
          object-position: left;
          animation: imageAnimation 10s linear infinite;

          &.pausado {
            animation-play-state: paused;
          }
        }
      }
    }

    .aside-right-buttons {
      position: absolute;
      bottom: 1px;
      right: 1px;
      display: flex;
      flex-direction: column;
      width: 48px;
      --gap: 5px;
      height: calc(48px * 6 + (var(--gap) * 6));
      gap: var(--gap);
      z-index: 20;

      .button-container {
        width: 48px;
        height: 48px;
        position: relative;
        display: flex;
        flex-direction: column;
        place-content: center;
        place-items: center;
        gap: 5px;
        overflow: hidden;

        svg {
          width: 80%;
          height: 80%;
          color: #fff;
        }

        .count {
          font-size: 10px;
          color: #fff;
          text-align: center;
        }

        &.btn-container-user-profile {
          background-color: transparent;

          .user-profile {
            position: absolute;
            width: 68%;
            height: 68%;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          .badge {
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            top: 78%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            filter: hue-rotate(90deg);
          }
        }

        &.btn-container-vinyl {
          position: relative;

          .user-profile-vinyl,
          .vinyl {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          .vinyl {
            width: 32px;
            height: 32px;
            object-fit: cover;
            animation: rotar 5s linear infinite;
          }

          .user-profile-vinyl {
            width: 13px;
            height: 13px;
            border-radius: 50%;
            opacity: 0.8;
            animation: rotar 3s linear infinite;
            animation-delay: 0.8s;
          }
        }
      }
    }

    .aside-text-and-description {
      width: calc(100% - 48px);
      min-height: 200px;
      position: absolute;
      bottom: 1px;
      left: 1px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding: 10px;
      gap: 8px;
      color: #e9e9e9;
      z-index: 30;
      pointer-events: none;

      p {
        font-size: 10px;
        overflow-wrap: anywhere;
      }
    }

    .post-image-overlay {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 70px;
      height: 70px;
      background-color: red;
      z-index: 80;
    }
  }
}

@keyframes rotar {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes imageAnimation {
  0% {
    object-position: left;
  }
  50% {
    object-position: right;
  }
  100% {
    object-position: left;
  }
}
